.header {
    background: var(--color-input);
}

/* .logo {
    position: absolute;
    left: 64px;
    width: 136px;
    height: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    padding: 0 64px;
    margin: 0 auto;
    position: relative;
}

.nav {
    /* display: flex;
    justify-content: flex-start;
    /* gap: 450px;
    flex: 2;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center; /* центрує nav */
    max-width: 1440px;
    padding: 28px 64px;
    margin: 0 auto;
    position: relative; /* для absolute positioning logo */
}

.logo {
    position: absolute;
    left: 64px; /* прилипає до лівого краю padding */
    width: 136px;
    height: 16px;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.navLink {
    color: var(--color-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.navLink:hover {
    color: var(--color-button-hover);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}