.header {
    background: var(--color-input);
}

.logo {
    width: 136px;
    height: 16px;
}

.leftSection {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    padding: 24px 64px;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: center;
} 


.rightSection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.navLink {
    color: var(--color-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.navLink:hover {
    color: var(--color-button-hover);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}