.camperCard {
    display: flex;
    padding: 24px;
    border: 1px solid var(--color-gray-light);
    border-radius: 20px;
    gap: 24px;
    width: 100%;
}

.camperImage img {
    width: 292px;
    height: 320px;
    object-fit: cover;
    object-position:80% 0%; 
    border-radius: 10px;
}

.camperInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.infoTop {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.topInfoMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoTopLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.heartButton {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.heartIcon {
    fill: var(--color-gray);
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.iconActive {
    fill: var(--color-button);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.numbers {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.numberInfo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ratingIcon {
    fill: var(--color-rating);
}

.text {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-text);
}

.infoTags {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.viewButton {
    width: 166px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--color-white);
    padding: 16px 40px;
    background: var(--color-button);
    border-radius: 200px;
    border-width: 0;
}

.viewButton:hover {
    background: var(--color-button-hover);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}