.icon {
    border-radius: 100px;
    padding: 12px 18px;
    background-color: var(--color-badge);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

