.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: black;
    border: 1px solid var(--color-gray-light);
    border-radius: 12px;
    width: 112px;
    height: 96px; 
    background-color: transparent;  
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.iconText {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-main);
}

.iconActive {
    border-color: var(--color-button);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}