:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6C717B;
  --color-button: #E44848;
  --color-button-hover: #D84343;
  --color-rating: #FFC531;
  --color-gray-light: #DADDE1;
  --color-badge: #F2F4F7;
  --color-input: #F7F7F7;
  --color-white: #FFFFFF;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-white);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 600;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-inter), sans-serif;
  cursor: pointer;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
  
}

