.main {
  height: 100vh;
  background-image: url(../public/MainPicture.png);
  background-size: cover;
  display: flex;
  align-items: center;
}

.container {
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 600;
  color: var(--color-input)
}

.title {
  font-size: 48px;
  line-height: 67%;
}

.text {
  font-size: 24px;
  line-height: 133%;
}

.button {
  padding: 16px 48.5px;
  background: var(--color-button);
  border-radius: 200px;
}

.button:hover {
  background: var(--color-button-hover);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}