.container {
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 48px 64px;
}

.filters {
    width: 360px;
}

.label {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 500;
}

.locationFilter {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
}

/* .locationInput {
    border-radius: 12px;
    padding: 18px 218px 18px 20px;
    border-width: 0;
    background: var(--color-input); 
} */

.locationInput {
    width: 100%;
    padding: 16px 16px 16px 48px;
    border: none;
    border-radius: 12px;
    background: var(--color-input);
    font-size: 16px;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.locationInput::placeholder {
    color: var(--color-gray);  /* сірий колір плейсхолдера */
}

.inputIcon {
    position: absolute;
    left: 16px;
    pointer-events: none;
    fill: var(--color-gray);
}


.iconActive {
    fill: var(--color-main);
} 

.filterButtons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 40px;
}

.equipmentFilters {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-main);
}

.stroke {
    stroke-width: 1px;
    stroke: var(--color-gray-light);
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.typeFilters {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.button {
  padding: 16px 48.5px;
  background: var(--color-button);
  border-radius: 200px;
  border-width: 0;
}

.button:hover {
  background: var(--color-button-hover);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}