.container {
    display: flex;
    flex-direction: column;
    padding: 40px 80px 64px 64px;
    gap: 60px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.numbers {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.numbersWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.numberInfo {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;    
    line-height: 150%;
    color: var(--color-main);
}

.ratingIcon {
    fill: var(--color-rating);
}

.locationIcon {
    fill: var(--color-main);
}

.title, .price {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--color-main);
}

.images {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
}

.image {
    border-radius: 10px;
    object-fit: cover;
    width: 292px;
    height: 312px;
    object-position: center;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text);
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

/* .bottomHead {
    display: flex;
    flex-direction: column;
    gap: 24px;
} */

.tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid var(--color-gray-light);
}

.features, .reviews {
    padding-bottom: 24px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    margin-bottom: -2.5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-main);
}

.active {
    border-bottom-color: var(--color-button);
}

.details {
    display: flex;
    flex-direction: row;
    gap: 44px;
}

.reviewsWrapper {
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 100%;
}
