.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 57px 44px;
    border-radius: 10px;
    border: 1px solid var(--color-gray-light);
    width: 100%;
    align-items: center;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-main);
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-gray);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    width: 100%;
}

.input {
    padding: 16px;
    border: none;
    border-radius: 12px;
    background-color: var(--color-input);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-main);
    font-family: var(--font-inter);
    width: 100%;
}


.date {
    position: relative;
}

.date::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.textarea {
    border-radius: 10px;
    background-color: var(--color-input);
    padding: 18px;
    height: 118px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-main);
    font-family: var(--font-inter);
    width: 100%;
}

.button {
    padding: 16px 48.5px;
    background: var(--color-button);
    border-radius: 200px;
    border-width: 0;
    width: 166px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button:hover {
    background: var(--color-button-hover);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}